@import "main";

main {
  position: relative;
}

.card.disabled {
  opacity: 0.5;
}

#presentation {
  @include jumbotron-img("index", center center, fixed, 75vh);
}

#three_pillars {
  min-height: 50vh;
}

#coins {
  min-height: 50vh;
}

#flow {
  min-height: 50vh;
}

#rates {
  min-height: 50vh;
}
