<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-KFP4N8Q');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <title>payment by chainizer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body data-spy="scroll" data-target="#navbar-content" data-offset="100">

<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFP4N8Q"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<header id="presentation" class="jumbotron jumbotron-fluid d-flex mb-0">
    <div class="container align-self-center text-light">
        <h1>payment
            <small>by chainizer</small>
        </h1>
        <hr class="bg-white">
        <p class="lead">The alternative payment platform.</p>
    </div>
</header>

<nav class="navbar navbar-expand-sm navbar-light bg-light sticky-top">
    <div class="container">
        <a class="navbar-brand" href="">payment</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#three_pillars">3 pillars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#coins">Coins</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#flow">Flow</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="https://app.swaggerhub.com/apis/chainizer/payment-by_chainizer" class="nav-link" target="_blank">
                        <i class="fa fa-fw fa-book"></i>
                        Documentation
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <section id="three_pillars" class="jumbotron jumbotron-fluid d-flex">
        <div class="container align-self-center">
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">
                            <i class="fa fa-fw fa-user-secret"></i>
                            Anonymous
                        </h4>
                        <p class="card-text text-center mb-3">
                            <span class="text-capitalize">no accounts → no tracking</span>
                        </p>
                        <p class="card-text text-justify">
                            The logic is not based on accounts or anything that could be used for tracking.
                            The authentication is based on a token generated when a payment is created.
                            The token is only related to one payment and so cannot be used for tracking too.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">
                            <i class="fa fa-fw fa-shield-alt"></i>
                            Secured
                        </h4>
                        <p class="card-text text-center mb-3">
                            <span class="text-capitalize">1 payment → 1 address</span>
                        </p>
                        <p class="card-text text-justify">
                            When a payment is generated,
                            the private key is encrypted with a generated password and stored in database.
                            The related address and the generated password are sent to the customer: YOU.
                            So, even is the database is leaked, the private key is only accessible by ... YOU.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center mb-3">
                            <i class="fa fa-fw fa-code"></i>
                            Open Source
                        </h4>
                        <p class="card-text text-center mb-3">
                            <span class="text-capitalize">transparent → inspection</span>
                        </p>
                        <p class="card-text text-justify">
                            The source code is opened to everyone.
                            It includes every single lines of code related to the solution:
                            website, business implementation, deployment scripts, migration scripts ...
                            Everything is opened for reviews, comments and of course about trust.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="coins" class="jumbotron jumbotron-fluid d-flex bg-transparent">
        <div class="container align-self-center">
            <h2>The most popular coins</h2>
            <br>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top p-1" src="img/coin-ethereum.png" alt="ethereum logo">
                    <p class="card-body mb-0 p-0 text-center text-uppercase">ethereum</p>
                </div>
                <div class="card disabled" data-toggle="tooltip" data-placement="bottom" title="coming soon">
                    <img class="card-img-top p-1" src="img/coin-bitcoin.png" alt="bitcoin logo">
                    <p class="card-body mb-0 p-0 text-center text-uppercase">bitcoin</p>
                </div>
                <div class="card disabled" data-toggle="tooltip" data-placement="bottom" title="coming soon">
                    <img class="card-img-top p-1" src="img/coin-bitcoincash.png" alt="bitcoincash logo">
                    <p class="card-body mb-0 p-0 text-center text-uppercase">bitcoin cash</p>
                </div>
                <div class="card disabled" data-toggle="tooltip" data-placement="bottom" title="coming soon">
                    <img class="card-img-top p-1" src="img/coin-litecoin.png" alt="litecoin logo">
                    <p class="card-body mb-0 p-0 text-center text-uppercase">litecoin</p>
                </div>
            </div>
        </div>
    </section>

    <section id="flow" class="jumbotron jumbotron-fluid d-flex bg-transparent">
        <div class="container align-self-center">
            <h2>One flow, simplified as much as possible</h2>
            <br>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span class="badge badge-dark">1</span> - generate
                        </h4>
                        <p class="card-text text-justify">
                            The address generation is done consuming just one web-service.
                            The only require information is a callback URL, so that you will be notified when the fund will sent.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span class="badge badge-dark">2</span> - be notified
                        </h4>
                        <p class="card-text text-justify">
                            When the first payment is done, the callback URL is called.
                            So that, you can acknowledge the payment.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            <span class="badge badge-dark">3</span> - withdraw
                        </h4>
                        <p class="card-text text-justify">
                            To withdrawn is done consuming just one web-service.
                            The only require information is the target address.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="rates" class="jumbotron jumbotron-fluid d-flex bg-transparent">
        <div class="container align-self-center">
            <h2>Affordable</h2>
            <br>
            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            Pay as you withdraw
                        </h4>
                        <p class="card-text text-justify">
                            Fees are only applied on withdrawn.
                            The API is free to use, there is no hidden cost.
                        </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            ethereum 3%
                        </h4>
                        <p class="card-text text-justify">
                            With etherem the fee is only 3%.
                            Before 0.001 ETH the withdraw is free!
                            Above 60 ETH the fee is blocked to 3% of 60 ETH!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

<footer>
    <ul class="list-inline text-center">
        <li class="list-inline-item">
            <i class="fa fa-fw fa-link"></i>
            <a href="https://chainizer.com">
                chainizer.com
            </a>
        </li>
        <li class="list-inline-item">
            <i class="far fa-fw fa-handshake"></i>
            <a href="https://payment.chainizer.com">
                payment.chainizer.com
            </a>
        </li>
        <li class="list-inline-item">
            <i class="far fa-fw fa-envelope"></i>
            <a href="mailto:payment@chainizer.com">
                contact@chainizer.com
            </a>
        </li>
        <li class="list-inline-item">
            <i class="fab fa-fw fa-gitlab"></i>
            <a href="https://gitlab.com/chainizer" target="_blank">
                gitlab.com/chainizer
            </a>
        </li>
    </ul>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-20179310-12"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-20179310-12');
</script>

</body>
</html>